/* Custom color scheme for Motion Applied */
:root {
  --md-primary-fg-color: rgb(244, 97, 23);
  --md-primary-fg-color--light: rgb(255, 127, 63);
  --md-primary-fg-color--dark: rgb(214, 67, 0);
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
  
  --md-accent-fg-color: rgb(244, 97, 23);
  --md-accent-fg-color--transparent: rgba(244, 97, 23, 0.1);
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

/* Dark mode colors */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: rgb(244, 97, 23);
  --md-primary-fg-color--light: rgb(255, 127, 63);
  --md-primary-fg-color--dark: rgb(214, 67, 0);
  --md-primary-bg-color: #000;
  --md-primary-bg-color--light: #0000001a;
  
  --md-accent-fg-color: rgb(244, 97, 23);
  --md-accent-fg-color--transparent: rgba(244, 97, 23, 0.1);
  --md-accent-bg-color: #000;
  --md-accent-bg-color--light: #0000001a;
}
